<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color='marlogin' (click)="logoutAction()">Log Out.</ion-button>
</ion-content>
