<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <app-logo></app-logo>
  <h2>Welcome to Marlogin</h2>
  <p>proyecto demo rielos</p>
  </ion-slide>
  <ion-slide>
  <h2>Slide 2 Title</h2>
  </ion-slide>
  <ion-slide>
  <h2>Slide 3 Title</h2>
  </ion-slide>
  </ion-slides>