<ion-header>
  <ion-toolbar color="mango">
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <div class="center">
    <img src="assets/images/baby.png" class="smallLogo" width="60px"/>
    <h1>Create Account</h1>
  </div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input autocomplete="off" name="email" type="email" [(ngModel)]="postData.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>

      <ion-item lines='none'>
        Already have an account? <a routerLink='/login'>Sign in.</a>
      </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" color="success" (click)="signupAction()">Registration</ion-button>
  </form>
</ion-content>