<ion-header>
  <ion-toolbar color="mango">
  <ion-title>Login</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content padding='true'>
  <div class="center">
  <img src="assets/images/baby.png" class="smallLogo" width="60px"/>
  <h1>Sign In</h1>
  </div>
  <form>
  <ion-list>
  <ion-item>
  <ion-label position="stacked">Email</ion-label>
  <ion-input autocomplete="off" type="text" name="email" [(ngModel)]="postData.email"></ion-input>
  </ion-item>
  
  <ion-item>
  <ion-label position="stacked">Password</ion-label>
  <ion-input autocomplete="off" type="password" name="password" [(ngModel)]="postData.password"></ion-input>
  </ion-item>
  
  <ion-item lines='none'>
  <a routerLink='/signup'>Create Account</a>
  </ion-item>
  </ion-list>
  <ion-button expand="block" share="round" color="success" (click)="loginAction()">Login</ion-button>
  </form>
  </ion-content>