<ion-header>
  <ion-toolbar>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="feed">
    <ion-icon name="flash"></ion-icon>
    <ion-label>Feed</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    </ion-tab-bar>
    </ion-tabs>
</ion-content>
